body{
    background-color: #fafafa;
}
.background{
    position: absolute;
    bottom: 50vh;
    background-image: url(./img/background.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 200px;
    animation: slideright 600s infinite linear;
}
.dino{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(./img/dino.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(./img/cactus.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 200px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 50vh;
    justify-content: center;
    align-items: center;
}
.container__game-over{
    text-align: center;
    font-size: 4rem;
    background-color: #b8b8b8;
    color: #4e4e4e;
    padding: 30px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideright {
    from{
        background-position: 20000%;
    }
    to{
        background-position: 0;
    }
}