body{
    background-color: #fafafa;
}
.background{
    position: absolute;
    bottom: 50vh;
    background-image: url(./img/background.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 200px;
    animation: slideright 600s infinite linear;
}
.dino{
    width: 3.125vw;
    height: 6vh;
    position: absolute;
    bottom: 0;
    background-image: url(./img/dino.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cactus{
    position: absolute;
    width: 3.125vw;
    height: 6vh;
    bottom: 0;
    background-image: url(./img/cactus.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    
}
.container__game-over{
    text-align: center;
    font-size: 3rem;
    color: #666666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideright {
    from{
        background-position: 20000%;
    }
    top{
        background-position: 0;
    }
}